[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-community = "*"
langchain-groq = "*"
sentence-transformers = "*"
faiss-cpu = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.13"
